@media only screen and (max-width: 768px) {

.home{
    height: 100vh;
    background-image: url("../../components/images/home2.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.clock-home{
    width:40%;
    margin-right: 30%;
    margin-left:30%;
}
.title{
    font-size: 100px;
    text-align: center;
}
.button-image{
    width :70%;
    position :absolute;
    bottom:0;
    left:15%;
    
}
.home-button{
    font-size: 40px;
    width : 200px;
    position :absolute;
    bottom: 11%;
    left:37%;
}

}