@media only screen and (max-width: 768px) {
  @font-face {
    font-family: "Princess Sofia";
    src: url("../../components/fonts/PrincessSofia-Regular.ttf");
  }
  @font-face {
    font-family: "Tangerine-Regular";
    src: url("../fonts/Tangerine-Bold.ttf");
  }
  .home {
    height: 100vh;
    background-image: url("../../components/images/home2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .clock-home {
    width: 40%;
    margin-right: 30%;
    margin-left: 30%;
  }
  .title {
    font-family: "Princess Sofia", cursive;
    color: antiquewhite;
    text-shadow: -7px -3px rgb(55, 55, 56), 3px 7px rgb(54, 48, 43);
    font-size: 130px;
    text-align: center;
  }
  .button-image {
    width: 70%;
    position: absolute;
    bottom: 0;
    left: 15%;
  }
  .home-button {
    font-family: "arial";
    font-size: 50px;
    width: 200px;
    position: absolute;
    bottom: 10.5%;
    left: 34%;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    transition: all 500ms;
  }
  .home-button:hover {
    transform: scale(1.05);
  }
  .test {
    text-decoration: none;
  }
}
